 <%= flash[:notice] %>
<p><h2>Title:</h2><p><%= @book.title %></p></p>
<p><h2>Body:</h2><p><%= @book.body %></p></p>
<span><%=link_to 'Edit', edit_book_path %>
<span><%=link_to 'Back', books_path %>

